################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExamplerjProject/v15/Server/sqlite3
/ExamplerjProject/bin
/ExamplerjProject/obj
/packages
/Core/obj
